<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d490acd8-c8ff-49ff-8bb3-f57dd0e1d0f9/resourceGroups/2sdesignstudio/providers/Microsoft.Web/sites/2sdesignstudio</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://2sdesignstudio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>2sdesignstudio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>2sdesignstudio</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$2sdesignstudio</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>