@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
    <p class="text-left">
        Admin page
    </p>
</div>
