@page
@model Admin_LoginModel
@{
    ViewData["Title"] = "Admin Login";
}

<div class="text-center">
    <h1 class="display-4">Admin Login</h1>
    <form>
        <label>Admin Name:</label>
        <input type="text" name="Name" placeholder="Admin Name"/>
        <label>Admin Password:</label>
        <input type="password" name="Password" placeholder="Admin Password"/>
        <button>Submit</button>
    </form>
</div>
