@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper-home">
    <div class="title-home">
        <h3>Home</h3>
        <hr />
    </div>
    <div class="content-home">
        <div class="text-home">
            <h3 class="quote-home">
                Improving people’s lives through better design
            </h3>
            <p class="text-home-1">
                2S Design is a Seattle-based firm with more than 10 years of global experience in
                architecture, design and construction. We focus on listening to our clients and
                bringing their vision to life.  Whether it’s a new construction or renovation - we are
                ready for the challenge.
            </p>
            <p class="text-home-2">
                We specialize in architectural and customized designs, residential designs, tenant
                improvement and remodeling. We bring your design vision to life and manage all
                the stages of your project. Our top priority is completing our work on-time and on-
                budget, while delivering the best design and material solutions for our clients.
            </p>
        </div>
        <div class="img-home">
            <img src="~/images/home-page.jpg">
        </div>
    </div>
</div>
