@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}

<div class="wrapper-services">
    <div class="title-services">
        <h3>Services</h3>
        <hr />
    </div>
    <div class="content-services">
        <section class="slider-wrapper">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/slider/slider1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slider/slider2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slider/slider3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slider/slider4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slider/slider5.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slider/slider6.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/slider/slider7.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </section>
        <div class="title-our-services">
            <h3>Our Services</h3>
            <div class="underscope"></div>
        </div>
        <div class="category-box-1">
            <div class="category-name left-name white-text">
                <h1>Architectural<br />Design</h1>
            </div>
            <div class="category-services">
                <figure class="effect-categories">
                    <img src="~/images/services/s1.jpg" alt="Concept Design" />
                    <figcaption>
                        <div>
                            <h1>Concept Design</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s2.jpg" alt="Space Planning" />
                    <figcaption>
                        <div>
                            <h1>Space Planning</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s3.jpg" alt="3d Rendering" />
                    <figcaption>
                        <div>
                            <h1>3d Rendering</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s4.jpg" alt="Construction Drawings" />
                    <figcaption>
                        <div>
                            <h1>Construction Drawings</h1>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="category-box-2">
            <div class="category-name left-name">
                <h1>Permitting</h1>
            </div>
            <div class="category-services">
                <figure class="effect-categories">
                    <img src="~/images/services/s5.jpg" alt="Applying for construction permit" />
                    <figcaption>
                        <div>
                            <h1>Applying for construction permit</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s6.jpg" alt="Communication with the city" />
                    <figcaption>
                        <div>
                            <h1>Communication with the city</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s7.jpg" alt="Permit corrections" />
                    <figcaption>
                        <div>
                            <h1>Permit<br />corrections</h1>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="category-box-1">
            <div class="category-name left-name white-text">
                <h1>Construction<br />And Project<br />Management</h1>
            </div>
            <div class="category-services">
                <figure class="effect-categories">
                    <img src="~/images/services/s8.jpg" alt="New homes" />
                    <figcaption>
                        <div>
                            <h1>New homes</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s9.jpg" alt="Home additions and remodeling" />
                    <figcaption>
                        <div>
                            <h1>Home additions and remodeling</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s10.jpg" alt="Accessory dwelling units" />
                    <figcaption>
                        <div>
                            <h1>Accessory dwelling units</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s11.jpg" alt="Kitchen/bathroom remodeling" />
                    <figcaption>
                        <div>
                            <h1>Kitchen and bathroom remodeling</h1>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="category-box-2">
            <div class="category-name left-name">
                <h1>Materials</h1>
            </div>
            <div class="category-services">
                <figure class="effect-categories">
                    <img src="~/images/services/s12.jpg" alt="Kitchen cabinets" />
                    <figcaption>
                        <div>
                            <h1>Kitchen cabinets</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s13.jpg" alt="Countertops" />
                    <figcaption>
                        <div>
                            <h1>Countertops</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s14.jpg" alt="Flooring" />
                    <figcaption>
                        <div>
                            <h1>Flooring</h1>
                        </div>
                    </figcaption>
                </figure>
                <figure class="effect-categories">
                    <img src="~/images/services/s15.jpg" alt="Tile" />
                    <figcaption>
                        <div>
                            <h1>Tile</h1>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
