@page
@model TestimonialsModel
@{
    ViewData["Title"] = "Testimonials";
}

<div class="wrapper-testimonials">
    <div class="title-testimonials">
        <h3>Testimonials</h3>
        <hr />
    </div>
    <div class="content-testimonials">
        <div class="img-testimonials">
            <img src="~/images/banner.jpg" />
        </div>
        <div class="text-testimonials">
            <img src="~/images/quote-symbol.png" class="quote-symbol" />
            <p>
                2S design provided exceptional service from start to finish. Patiently iterated through our multiple
                requests to revise the proposed drawings. Hand held us in choosing material and configuring engineering
                options that resulted in a very accurate estimate. Very good planning and communication which kept the
                schedule on track. We will definitely use 2S design again in the future.
            </p>
            <p class="quote-sm-right">
                Konstantin - January 2019
            </p>
        </div>
        <div class="text-testimonials">
            <img src="~/images/quote-symbol.png" class="quote-symbol" />
            <p>
                The 2S team did an excellent job remodelling our house. They came up with the new color scheme, picked
                the materials for the floors & cabinets in the kitchen and helped pick out the art & a few new furniture
                pieces. They set the creative vision yet were always listening to our feedback and super attentive to our
                asks and needs. The project was on time and under budget. Would highly recommend.
            </p>
            <p class="quote-sm-right">
                Lilia - January 2017
            </p>
        </div>
    </div>
</div>